@keyframes scaleUp {
	0% { transform: translateX(0) scale(0); }
	100% { transform: translateX(0) scale(1); }
}

@keyframes moveFromRight {
	0% { transform: translateX(600%); }
	100% { transform: translateX(0); }
}

@keyframes moveFromLeft {
	0% { transform: translateX(-600%); }
	100% { transform: translateX(0); }
}

@keyframes moveToRight {
	0% { transform: translateX(0%); }
	100% { transform: translateX(600%); }
}

@keyframes moveToLeft {
	0% { transform: translateX(0%); }
	100% { transform: translateX(-600%); }
}



.mi-slider {
	position: relative;
	margin-top: 30px;
	height: 490px;
	ul {
		list-style-type: none;
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 140px;
		overflow: hidden;
		text-align: center;
		pointer-events: none;
		

		li {
			display: inline-block;
			padding: 20px;
			width: 20%;
			max-width: 300px;
			transform: translateX(600%);
			transition: opacity 0.2s linear;
			&:hover{
				opacity: 0.7;
			}
			a{
				display: block;
				margin: 0 auto;
				outline: none;
				cursor: pointer;
				img {
					display: block;
					margin: 0 auto;
					max-width: 100%;
					border: none;
				}
				h4 {
					display: inline-block;
					font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
					font-style: italic;
					font-weight: 400;
					font-size: 18px;
					padding: 20px 10px 0;
				}
			}
		}
	}
	.start{
			li{
				animation: scaleUp 350ms ease-in-out both;
				&:first-child{
					animation-delay: 90ms;
				}
				&:nth-child(2){
					animation-delay: 180ms;
				}
				&:nth-child(3){
					animation-delay: 270ms;
				}
				&:nth-child(4){
					animation-delay: 360ms;
				}
			}
		}



	nav {
		position: relative;
		top: 400px;
		text-align: center;
		max-width: 800px;
		margin: 0 auto;
		border-top: 5px solid #333;
		
		a {
			display: inline-block;
			text-transform: uppercase;
			letter-spacing: 5px;
			padding: 40px 30px 30px 34px;
			position: relative;
			color: #888;
			outline: none;
			transition: color 0.2s linear;
			&:hover{
				color: #000;
			}
			
		}
		.mi-selected {
				color: #000;
				&:after,&:before{
					content: '';
					position: absolute;
					top: -5px;
					border: solid transparent;
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;

				}
				&:after{
					border-color: transparent;
					border-top-color: #fff;
					border-width: 20px;
					left: 50%;
					margin-left: -20px;
				}
				&:before {
					border-color: transparent;
					border-top-color: #333;
					border-width: 27px;
					left: 50%;
					margin-left: -27px;
				}
			}
	
	}	
}



#mi-slider{

		.mi-current {
			pointer-events: auto;
		}
		.mi-moveFromRight{
			li{
				animation: moveFromRight 350ms ease-in-out both;
				&:first-child{
					animation-delay: 0ms;
				}
				&:nth-child(2){
					animation-delay: 90ms;
				}
				&:nth-child(3){
					animation-delay: 180ms;
				}
				&:nth-child(4){
					animation-delay: 270ms;
				}
			}
		}
		.mi-moveFromLeft{
			li{
				animation: moveFromLeft  350ms ease-in-out both;
				&:first-child{
					animation-delay: 270ms;
				}
				&:nth-child(2){
					animation-delay: 180ms;
				}
				&:nth-child(3){
					animation-delay: 90ms;
				}
				&:nth-child(4){
					animation-delay: 0ms;
				}
			}
		}
		.mi-moveToRight{
			li{
				animation: moveToRight  350ms ease-in-out both;
				&:first-child{
					animation-delay: 270ms;
				}	
				&:nth-child(2){
					animation-delay: 180ms;
				}
				&:nth-child(3){
					animation-delay: 90ms;
				}
				&:nth-child(4){
					animation-delay: 0ms;
				}
			}
		}
		.mi-moveToLeft{
			li{
				animation: moveToLeft  350ms ease-in-out both;
				&:first-child{
					animation-delay: 0ms;
				}
				&:nth-child(2){
					animation-delay: 90ms;
				}
				&:nth-child(3){
					animation-delay: 180ms;
				}
				&:nth-child(4){
					animation-delay: 270ms;
				}
			}
		}


}